<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <authorization>
            <allow users="HRAM" />
            <allow roles="HRAM" />
            <allow roles="HRAM" />
            <deny users="*" />
            <allow roles="HRM" />
            <allow roles="HRM" />
        </authorization>
    </system.web>
</configuration>